
<div id="formularioUI" [hidden] ="onload || error || exito">
  <form class="example-container" [formGroup]="faa201Form">
    <mat-form-field>
        <mat-select (selectionChange)="doSomething($event)" placeholder="Facultad" [formControl]="facultadControl" required>
          <mat-option *ngFor="let facultad of facultades" [value]="facultad">
            {{facultad.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">Elija una facultad</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Carrera" [formControl]="carrerasControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let carrera of carrerasGenerico" [value]="carrera">
            {{carrera.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="carrerasControl.hasError('required')">Seleccione una Carrera</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Ingrese el periodo" [formControl]="periodo" required>
        <mat-error *ngIf="periodo.invalid">{{getErrorMessagePeriodo()}}</mat-error>
<!--         <mat-select placeholder="Periodo" [formControl]="periodoControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let periodo of periodos" [value]="periodo">
            {{periodo.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="periodoControl.hasError('required')">Seleccione un Periodo</mat-error> -->
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Ingrese sus nombres" [formControl]="nombres" required>
        <mat-error *ngIf="nombres.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Ingrese sus Apellidos" [formControl]="apellidos" required>
          <mat-error *ngIf="apellidos.invalid">{{getErrorMessage1()}}</mat-error>
        </mat-form-field>


      <mat-form-field>
          <input type="tel" matInput placeholder="Ingrese su número de identificación" maxlength="10" [formControl]="identificacion"  required>
          <mat-error *ngIf="identificacion.invalid">{{getErrorMessage2()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Tipo de Adjunto" [formControl]="adjuntosControl" required>
          <mat-option *ngFor="let adjunto of adjuntosOpciones" [value]="adjunto">
            {{adjunto.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">Elija una facultad</mat-error>
    </mat-form-field>

      <button type="button" [hidden]="mostrarJustificacion" data-toggle="tooltip" title="Este campo es opcional" class="btn btn-link btnJustificacion"  (click)= "mostrarCampoJustificacion(true)">Ingresar Justificación</button>

      <mat-form-field *ngIf="mostrarJustificacion" class="example-full-width">
        <textarea matInput  [formControl]="justificacion" placeholder="Ingrese la justificación"></textarea>
      </mat-form-field>


    </form>
    <div class="button-row">
      <button class="formButtons" mat-raised-button [disabled]="!faa201Form.valid" (click)=" enviarFormulario()">Generar Formulario</button>
      <!-- <button class="formButtons" mat-raised-button [disabled]="!faa201Form.valid" type="submit">Cancelar</button> -->
    </div>
</div>
<div id="loadSpinner" [hidden] ="!onload">
  <mat-progress-spinner class="center" mode="indeterminate"> </mat-progress-spinner>
 <p align="center">Generando archivo...</p>
</div>

<div class="centerError" *ngIf ="!onload && error">
  <img src="assets/error.png" width="150px" height="150px" alt="Imagen de error en la petición">
  <p align="center">Ups! Ha ocurrio un error generando el archivo</p>
 <button class="formButtons" mat-raised-button (click)="mostrarFormulario()">Volver al Formulario</button>
</div>

<div class="centerError" *ngIf ="exito && !onload && !error">
    <img src="assets/exito.png" width="150px" height="150px" alt="Imagen de error en la petición">
    <p align="center">Archivo generado exitosamente</p>
   <button class="formButtons" mat-raised-button (click)="descargarFormulario()">Descargar Formulario</button>
  </div>
    <!-- 
    <p>Form value: {{ faa201Form.value | json }}</p>
    <p>Form status: {{ faa201Form.status | json }}</p> -->
